{% extends "doctree/base.html" %}

{% block content %}

{% load filters %}

<div class="panel panel-default">
	<div class="panel-body">
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>ID</th>
					<th>书名</th>
					<th>整理者</th>
					<th>PENDING</th>
					<th>PASS</th>
					<th>REJECT</th>
				</tr>
			</thead>
			<tbody>
				{% for book in books %}
				<tr>
					<td>{{ book.id }}</td>
					<td>
						{{ book.title }}
					</td>
					<td>{{ book.summarized }}</td>
					<td>
						{{ book.statusCount.pending }}
					</td>
					<td>
						{{ book.statusCount.pass }}
					</td>
					<td>
						{{ book.statusCount.reject }}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
</div>

{% endblock content %}





